/* Custom CSS */
@import url('https://fonts.googleapis.com/css?family=Karla|Libre+Baskerville');
/*@import url('/css/syntax.css');*/

/*test font list:
@import url('https://fonts.googleapis.com/css?family=Chivo|Karla|Libre+Baskerville|PT+Serif|PT+Serif+Caption|Roboto|Roboto+Mono|Roboto+Slab|Rubik|Spectral');
*/

/*
NOTES
$color__accent: #ffcd00;
$color__background: #fffdf0;
font-family: $font-family__main;
*/

/* BACKGROUND COLOR OVERRIDES */

body, hr{
  background-color: #fffdf0;
}

.sidebar{
  background:none;
}

/* CONTENT OVERRIDES*/

.site-header{
  padding-bottom:0;
  margin-bottom:0;
}

body.home .site-header{
  display:none;
}
body.home #content{
  margin-top:2rem;
}

.header .sep-after::after {
  margin-top:1rem;
  margin-bottom:2rem;
}
  /*
    &:after {
      border-bottom-color: $color__accent;
      border-bottom-color: var(--color-accent);
      .has-cover & {
        display: none;
      }
    }
  }
}

/* LINK OVERRIDES*/

a:hover{
  color: #cc9065;
  transition:0.3s;
}


/* NAV OVERRIDES */


#main-menu{
  background-color:#f0eee2;
  overflow-x: visible;
  border-radius: 0.3em;
}

#main-menu li.item{
  min-height:1.2em;
}

nav li.item{
  border-bottom:2px solid rgba(255, 255, 255, 0);
}

nav li.item:hover{
    border-bottom:2px solid #cc9065;
    transition-duration: 0.3s;
  }

nav a:hover{
  text-decoration: none;
}

/* SIDEBAR OVERRIDES*/

.logo a img{
  max-width: 245px;
  float:right;
  margin-bottom: 0.5em;
  border-radius: 0.5em;
}

/*
.sidebar{
  background-color:rgba(0,0,0,.25);
}
*/
/* FONT OVERRIDES */

/* Rubik
Chivo - small text
Roboto Slab - title
Libre Baskerville - title
Karla - text
Spectral - title
PT Serif - title */



/*
    font-family: 'Chivo', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Karla', sans-serif;
    font-family: 'Spectral', serif;
    font-family: 'PT Serif', serif;
    font-family: 'PT Serif Caption', serif;
*/

body {
  font-family: 'Karla', sans-serif;
/*  @include font-size($font-size__main);
  line-height: $line-height__body;
  color: $color__text-main;
  word-wrap: break-word;

  @include screen($breakpoint-small) {
    @include font-size($font-size__main * 1.125);
  }*/
}

p{
    padding-left: 0rem;
}


h1, h2, h3, .title{
  font-family: 'Libre Baskerville', serif;
  padding-left:0;
}

h1.title{
  font-size:150%;
}

summary.title{
  font-size:90%;
}

h1{
  font-size:125%;
}

h2{
  font-size:105%;
}

h3{
  font-size:90%;
}



/*
@import 'headings';

@import 'copy';

.desc {
  font-style: italic;
}

*/
